@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0, 140, 255);
}
main{
    width: 300px;
    height: 200px;
    background-color: white;
    margin: auto;
    padding: 4px;
    border-radius: 6%;
}
div#image > img{
    margin: auto;
    max-width: 100%;
}