@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
body{
    background-color: rgb(0, 140, 255);
}
main{
    width: 300px;
    min-height: 200px;
    height: auto;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 6%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.274);
}
div#image > img{
    margin: auto;
    max-width: 100%;
}

main > input#verify {
    width: 150px;
    margin-top: 10px;
    margin-left: 75px;
}

main > div#option {
    margin: 10px 0px 0px 75px;
}

div#createdBy {
    margin-top: 10px;
    text-align: center;
}
a {
    font-size: 20px;
    color: white;
}
p {
    text-align: center;
}
a:hover{
    color: black;
}